header {
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    border-bottom: 1px darkgray solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Noto Serif JP', serif;
}

.sitename {
    font-size: 50px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.nav {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.nav > li > a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.guide {
    position: relative;
    margin: 0 20px;
}

.guide::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: .3s;
}

.guide:hover::after {
    transform: scale(1, 1);
}

.searchbox {
    padding-right: 20px;
}

/* ヘッダー下スライド画像 */
.slide {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 30px;
}

.slide > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
    opacity: 0;
    animation: slideshow 24s linear infinite;
}

.slide img:nth-child(2){
    animation-delay: 8s;
}

.slide img:last-child{
    animation-delay: 16s;
}

@keyframes slideshow {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    28%{
        opacity: 1;
    }
    38%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}

/* リストメニュー */
.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.bt {
    color: black;
    background-color: white;
    width: 300px;
    text-align: center;
    text-decoration: none;
    border: 1px #373737 solid;
    height: 50px;
    line-height: 50px;
    padding: 20px 80px;
    margin: 10px 15px 0px 15px;
    position: relative;
    transition: 0.5s;
}

.bt:hover {
    background-color: #606060;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

.newsbg {
    /* background-color: whitesmoke; */
    padding: 10px 0;
}

.news {
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    color: #4F4F4F;
    font-size: 60px;
    text-align: center;
    padding: 20px 0 10px 0;
    letter-spacing: 7px;
    text-shadow:
        3px 3px 0 #ffffff,
        4px 4px 0 #ffffff,
        6px 5px 0 #b6b6b6;
}

.news2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.wrapping {
    width: 400px;
}

.gift {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.contents {
    font-family: 'Noto Serif JP', serif;
    padding-left: 40px;
    font-size: 20px;
}

.feature {
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    color: #4F4F4F;
    font-size: 60px;
    text-align: center;
    padding: 30px 0 10px 0;
    letter-spacing: 7px;
    text-shadow:
        3px 3px 0 #cddad8,
        4px 4px 0 #cddad8,
        6px 5px 0 #cddad8;
    border-top: 5px black dotted;
}

.feature2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.xmas {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 150px;
    border-bottom: 5px black dotted;
}

.specialfeature {
    width: 500px;
    height: 305px;
    overflow: hidden;
    position: relative;
    margin: 0 30px;
}

.specialfeature .xmascaption {
    font-size: 130%;
    text-align: center;
    color: rgb(58, 58, 58);
}

.specialfeature .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.603);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

.specialfeature:hover .mask {
    opacity: 1;
    padding-top: 80px;
}

/* Pickup Item */
/* .Pickup {
    background-color: whitesmoke;
} */

.pickupitem {
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    color: #4F4F4F;
    font-size: 60px;
    text-align: center;
    padding: 30px 0 10px 0;
    padding-bottom: 25px;
    letter-spacing: 7px;
    text-shadow:
        3px 3px 0 #e9c9d3,
        4px 4px 0 #e9c9d3,
        6px 5px 0 #e9c9d3;
}

.pickupitem2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

table {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

td {
    padding: 0 10px;
    text-align: center;
}

.rankingname {
    font-family: 'Kaushan Script', cursive;
    width: 100%;
    color: #4F4F4F;
    font-size: 60px;
    text-align: center;
    padding-bottom: 15px;
    letter-spacing: 7px;
    text-shadow:
    3px 3px 0 #e6e1cc,
    4px 4px 0 #e6e1cc,
    6px 5px 0 #e6e1cc;
}

.rankingname2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.rank1 {
    font-size: 27px;
    color: darkgoldenrod;
    font-weight: bold;
    font-family: 'Noto Serif JP', serif;
    padding-bottom: 5px;
}

.rank2-3 {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Serif JP', serif;
    padding-bottom: 5px;
}

.productimg {
    width: 300px;
    padding-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.productname {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Noto Serif JP', serif;
    transition: 0.3s;
}

.productname:hover {
    color: #A0907C;
    text-align: center;
    text-decoration: 2px underline;
    text-decoration-color: #A0907C;
}
/* #ECE3D8 */

.price {
    text-align: center;
    padding:10px 0 70px 0;
}

/* 店舗案内 */
.businesshours {
    padding-top: 20px;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 20px;
    padding-right: 50px;
    margin-bottom: 10px;
    text-decoration: none;
}

.line {
    text-decoration: none;
    margin: 0px 10px;
    padding-bottom: 10px;
    margin-right: 50px;
}

.map {
    width: 400px;
    height: 300px;
    margin-left: 50px;
}


footer {
    width: 100%;
    height: 430px;
    background-color: whitesmoke;
    
}

.copyright {
    font-size: 20px;
    text-align: center;
}